<mat-toolbar>
  <mat-toolbar-row>
    <span>Liang Huang</span>

    <span class="example-spacer"></span>

    <!-- <button mat-button hidden>Home</button>
    <button mat-button hidden>Project</button>
    <button mat-button hidden>Contact</button> -->
  </mat-toolbar-row>
</mat-toolbar>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}! When I push code to GitHub, AWS CodeBuild will pull the code, build the code and deploy to my AWS
    s3!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<div [style.background]="'lightblue'">
  <h2 style="font-size:2rem">Senior Software Engineer</h2>
  <p style="font-size:1.5rem"> Full stack developer with five years working experience, extensive technical knowledge and project management experience.
    Built and delivered web/IOS apps from scratch on AWS and Apple store using Java Spring, Meteor and MEAN. Managed and
    worked on 8 projects using development models and frameworks like Agile, Waterfall, and SCRUM. With a passion for technology,
    gained extensive cutting-edge knowledge including Biometrics, Data Mining, Neural Network and Deep Learning.
  </p>
</div>
<div>
  <h2 style="font-size:2rem">Skills</h2>
  <ul style="font-size:1.5rem">
    <li>Advanced: JavaScript, Java/J2EE, HTML, CSS, Angular, SQL/NoSQL, jQuery.</li>
    <li>Intermediate: TypeScript, Python, GoLang, PHP, JSP, C++, C#, Meteor, Java Spring, Hibernate JPA, Node JS, Tomcat, .Net
      MVC, AWS, MySQL, Oracle DB, and MongoDB.
    </li>
    <li>Beginner: MEAN, Maven, NPM, Twilio, Weka, Arduino, Computer Vision, Biometrics, Data Mining, Neural Network and Deep
      Learning.
    </li>
    <li>Tools: Eclipse, Visual Studio Code, STS, IOS Xamarin, Visual Studio, GitHub, Taiga, Jira, Asana, and Trello.
    </li>
  </ul>
</div>
<div [style.background]="'lightblue'">
  <h2 style="font-size:2rem">Professional Experience</h2>
  <ul style="font-size:1.5rem">
    <li>
      07/2017 – Present: Technical Lead Software Engineer, COI Energy Services, Tampa, FL
      <ul>
        <li> Working as a full-stack developer and team leader for developing a SASS solution to deliver an energy platform improving
          the energy efficiency for 100+ organizations.</li>
      </ul>
    </li>
    <li>
      05/2016 – 05/2017: Software Engineer, Leapdoctor.com, Tampa, FL, US
      <ul>
        <li>Performed as a technical leader in the team of developing web and mobile applications for the next generation healthcare
          scheduling. </li>
      </ul>
    </li>
    <li>
      09/2011 – 07/2014: Software Engineer and System Architect, Sinosoft Co. LTD (The largest insurance IT service provider in
      China), Beijing, China
      <ul>
        <li>Principal developer and architect for the life insurance system. Participated in various projects from Business Rule
          Manage System, multithread optimization to frontend architecture. </li>
      </ul>
    </li>
    <li>
      02/2011 – 08/2011: Web Developer, Sina.com (The Chinese version of Twitter), Beijing, China
      <ul>
        <li>Worked as a web developer intern with MySQL, PHP, HTML, JavaScript, and CSS.</li>
      </ul>
    </li>
  </ul>
</div>

<div>
  <h2 style="font-size:2rem">Education</h2>
  <ul style="font-size:1.5rem">
    <li>08/2015 – 05/2017: University of South Florida, Tampa, USA
      <ul>
        <li>
          Master of Science in Computer Engineering, GPA: 3.94.
        </li>
      </ul>
    </li>
    <li>09/2010 – 07/2012: Renmin University of China, Beijing, China
      <ul>
        <li>
          Master of Science in Software Engineering, GPA: 3.52.
        </li>
        <li>Award: Excellent Student of the College. </li>
      </ul>
    </li>
    <li>09/2004 – 07/2008: China Agriculture University, Beijing, China
      <ul>
        <li>
          Bachelor of Science in Biology.
        </li>
      </ul>
    </li>
  </ul>
</div>